*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-width: 320px;
}

body {
  position: relative;
  height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $secondary-color;
  font-size: 18px;
  line-height: 20px;
  font-style: normal;
  font-weight: normal;
  color: $main-text-color;
  display: flex;
  flex-direction: column; 
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: 0;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-scroll {
  overflow: hidden;
}
