.btn {
  border: 1px solid transparent;
  vertical-align: middle;
  cursor: pointer;
}

.btn--submit {
  width: 200px;
  margin-top: 30px;
  padding: 10px;
  background-color: $tertiary-color;
  color: $primary-color;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid $tertiary-color;
  border-radius: 5px;
  transition: all .3s;
  &:focus,
  &:hover {
    @include btn-hover();
  }
  &:active {
    @include btn-active();
  }
}

.btn--modal {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: $tertiary-color;
  color: $primary-color;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid $tertiary-color;
  border-radius: 5px;
  transition: all .3s;
  &:focus,
  &:hover {
    @include btn-hover();
  }
  &:active {
    @include btn-active();
  }
}

.btn--modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 23px;
  height: 23px;
  font-size: 0;
  border: 0;
  background-color: transparent;
  outline: 0;
}

.btn--modal-close::after,
.btn--modal-close::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  width: 27px;
  height: 2px;
  background: #fff;
  transition-timing-function: ease-in-out;
  transition-duration: .2s;
}

.btn--modal-close::before {
  transform: rotate(45deg);
}

.btn--modal-close::after {
  transform: rotate(-45deg);
}

.btn--modal-close:focus::before, 
.btn--modal-close:hover::before {
  transform: rotate(135deg);
}

.btn--modal-close:focus::after, 
.btn--modal-close:hover::after {
  transform: rotate(45deg);
}