.input-wrapper {
  width: 100%;
  display: flex;
  margin: 10px 0;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.input-wrapper label {
  display: inline-block;
  width: 25%;
  color: $tertiary-color;
  font-weight: bold;
}

.input-wrapper input,
.input-wrapper textarea {
  width: 65%;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
}

.input-wrapper__user-name, 
.input-wrapper__user-email, 
.input-wrapper__user-phone, 
.input-wrapper__user-message {
  position: relative;
}

.input-wrapper input::placeholder,
.input-wrapper textarea::placeholder {
  color: $secondary-color;
}

.input-wrapper input:focus,
.input-wrapper textarea:focus {
  outline: 0;
  border: 2px solid $tertiary-color;
  box-shadow: 0px 0px 7px $tertiary-color;
  color: $primary-color;
}

.input-wrapper__user-name p,
.input-wrapper__user-email p,
.input-wrapper__user-phone p,
.input-wrapper__user-message p {
  position: absolute;
  bottom: -40px;
  left: 25%;
  font-size: 16px;
}

@media (max-width: $tablet-width) {
  .input-wrapper input,
  .input-wrapper textarea {
    width: 70%;
  }
}

@media (max-width: $mobile-width) {
  .input-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .input-wrapper label {
    width: 25%;
    margin-bottom: 10px;
  }

  .input-wrapper input,
  .input-wrapper textarea {
    width: 100%;
  }

  .input-wrapper__user-name p, 
  .input-wrapper__user-email p, 
  .input-wrapper__user-phone p, 
  .input-wrapper__user-message p {
    width: 200px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
  }
}