.message {
  display: none;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 20px;  
  font-size: 30px;
  font-weight: bold;
}

.message--success {
  color: #09a309;
}

.message--error {
  color: #ff0000;
}

.message-show {
  display: block;
}